export DATABASE_URL="postgresql://user:password@localhost:5432/portfoliodb"
export ADMIN_PASSWORD="super-secret-password"
export ADMIN_COOKIE_SECRET="some-long-random-string"
export ENVIRONMENT="dev"
# "dev" | "prod"
export S3_BUCKET_NAME="Set this in userdata."
export S3_REGION="us-west-1"
export CDN_DOMAIN="Set this in userdata."

export DATABASE_USERNAME="username"
export DATABASE_PASSWORD="password"