DATABASE_URL="file:./database/dev.db"
ADMIN_PASSWORD="super-secret-password"
ADMIN_COOKIE_SECRET="some-long-random-string"
ENVIRONMENT="dev"
# "dev" | "prod"

export TF_VAR_database_password="password"