DATABASE_USERNAME=username
DATABASE_PASSWORD=password
# Cognito admin user (Terraform creates this user in the pool)
COGNITO_ADMIN_USERNAME=username
COGNITO_ADMIN_PASSWORD=password
# Optional, defaults to "prod"
ENVIRONMENT=prod